.Contenedor{
    width: 400px;
    margin: 100px auto;
    background-color: #8ea082;
    border: 1px solid #8ea082;
    height: 400px;
    border-radius: 20px;
    padding: 0px 9px 0px 9px;
}

.boton-center{
    text-align: center;
}

.div-margen{
    padding: 40px 20px 20px 20px;
}

.div-menu{
    text-align: center;
    padding: 50px 60px 50px 60px;
}